.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;

  &-label {
    margin-bottom: 10px;
  }

  &-password {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 250px;
  }
}
